@media screen and (max-width: 968px) {
    #profile {
        height: 83vh;
        margin: auto auto 3.7rem;
    }

    .about-containers {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 800px) {
    #desktop-nav {
        display: none;
    }

    #hamburger-nav {
        display: flex;
    }
    
    .logo {
        font-size: 1.5rem;
    }

    .article-container {
        grid-template-columns: 1fr;
    }

    #experience, .experience-details-container {
        margin-top: 2rem;
    }

    #profile, .section-container {
        display: block;
    }


    .arrow {
        display: none;
    }

    #socials-container {
        margin-right: 0.5rem;
    }

    section, .section-container {
        height: fit-content;
    }

    section {
        margin: 0 5%;
    }

    .section__pic-container img{
        width: 258px;
        height: 258px;
    }

    .about-containers {
        margin-top: 0;
    }

    .experience-containers {
        flex-direction: column;
    }

    #contact, footer {
        height: 40vh;
    }

    .contact-info-container {
        margin: 0;
    }

    .contact-info-container p, .nav-links li a {
        font-size: 1rem;
    }

    .btn-container {
        flex-wrap: wrap;
        gap: 0.5rem;
    }

    .experience-sub-title {
        font-size: 1.25rem;
    }

    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
        margin-bottom: 3rem;
    }

    .section__pic-container {
        width: fit-content;
        margin: auto;
    }
    
    .section__text_p2 {
        font-size: 1.25rem;
    }

    .title {
        font-size: 2rem;
    }

    .experience-details-container {
        margin-top: 0;
    }

    #projects {
        padding-bottom: 3rem;
    }

    .text-container {
        text-align: justify;
    }

    footer {
        height: 22vh;
    }

    .copyright-text {
        margin-top: 5rem;
    }
}